<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Employee</th>
      <th>CLM Work Item</th>
      <th>Task Type</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Duration</th>
      <th>Comment</th>
      <th>Actions</th>
      <th colspan="9"></th>
    </tr>
  </thead>
  <tbody>
  
<!--% if !@emp.cards.blank? %-->
      <!--% @emp.cards.each do |c| %-->
          <!--% for c in @emp.cards % -->
          <!--% puts @emp.cards.size %-->
          <tr>
            <td><%= c.id %></td>
            <td><%= c.emp_id %></td>
            <td><%= c.clm_work_item_id %></td>
            <td><%= c.task_type_id %></td>
            <td><%= c.start_time %></td>
            <td><%= c.end_time %></td>
            <td><%= c.duration %></td>
            <td><%= c.comment %></td>
            <td><%= link_to 'Edit ', edit_emp_card_path(@emp, c) %></td>
            <td><%= link_to 'Destroy ', [@emp, c], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
      <!-- % end % -->
<!--% else %-->
<!--% end %-->
  </tbody>
</table>

<h2>Entries</h2>
<!--%= render @emp.cards %-->
<%= render partial: "/cards/entry", collection: c.entries , as: :e || "There are no entries available."  %>
