<!-- div class="fields"-->
<div class="nested-fields">

  
  <div class="field">
    <%= f.label :clm_work_item_id %>
    <%= f.text_field :clm_work_item_id , type: "search" , data: { behavior: "autocomplete-clm-work-items" } %>
    <%= f.hidden_field :clm_work_item_id %>
  </div>
  
  <div class="field">
    <%= f.label :task_type_id %>
    <%= f.text_field :task_type_id , type: "search" , data: { behavior: "autocomplete-clm-task-types" } %>
    <%= f.hidden_field :task_type_id %>
  </div>
  

    <div class="field">
      <%= f.label :start_time %>
      <%= f.text_field :start_time , class: 'flatpickr' %>
      <!--%= f.datetime_select :start_time , class: 'flatpickr' %-->
       
      <!--%= f.time_field  :start_time_t %-->
    </div>
    
    <div class="field">
      <%= f.label :end_time %>
      <%= f.text_field :end_time , class: 'flatpickr'%>
      <!--%= f.time_field  :end_time_t %-->
    </div>
    
    <div class="field">
      <%= f.label :duration %>
      <%= f.text_field :duration %>
    </div>
  
  
  <div class="field">
    <%= f.label :comment %>
    <%= f.text_field :comment %>
  </div>
  
  
  <%= f.label :task_type_id, "Remove Entry" %>
  <%= f.hidden_field :_destroy , class: "remove_fields" %>
  <!-- %= link_to_function "remove", "remove_fields(this)" %-->
  <%= link_to "remove" , {href: '#'}, class: "remove_fields" , id: :task_type_id %>



</div>