<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @card.id %>
</p>


<p>
  <strong>CLM Work Item :</strong>
  <%= @card.clm_work_item_id %>
</p>

<p>
  <strong>Task Type:</strong>
  <%= @card.task_type_id %>
</p>

<p>
  <strong>Start Time:</strong>
  <%= @card.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @card.end_time %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @card.duration %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @card.comment %>
</p>

<%= link_to 'Edit', edit_emp_card_path(@emp,@card) %> |
<%= link_to 'Back', emp_cards_path(@emp) %>

