<%= form_for(emp) do |f| %>
  <% if emp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(emp.errors.count, "error") %> prohibited this emp from being saved:</h2>

      <ul>
      <% emp.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_name %>
    <%= f.text_field :user_name %>
  </div>

  <div class="field">
    <%= f.label :employee_id %>
    <%= f.text_field :employee_id %>
  </div>
  
  <div class="field">
    <%= f.label :role %>
    <%= f.text_field :role %>
  </div>
  
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  
  <div class="field">
    <%= f.label :isManager %>
    <%= f.text_field :isManager %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>