<% if logged_in? %>
    <h1>You are Logged In, <%= current_emp.user_name %></h1>
    <%= button_to 'Logout', logout_path, method: :delete %>
<% else %>
    <%= link_to 'Sign Up', sign_up_path %>
    or
    <%= link_to 'Login', sign_in_path %>
<% end %>


  <% if @emp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@emp.errors.count, "error") %> prohibited this emp from being saved:</h2>

      <ul>
      <% @emp.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<p>
  <strong>ID:</strong>
  <%= @emp.id %>
</p>

<p>
  <strong>User name:</strong>
  <%= @emp.user_name %>
</p>

<p>
  <strong>Employee ID:</strong>
  <%= @emp.employee_id %>
</p>

<p>
  <strong>Role:</strong>
  <%= @emp.role %>
</p>

<p>
  <strong>Email:</strong>
  <%= @emp.email %>
</p>


<p>
  <strong>isManager:</strong>
  <%= @emp.isManager %>
</p>

<%= link_to 'Edit', edit_emp_path(@emp) %> |
<%= link_to 'Back', emps_path %> |
<%= link_to 'Add Card', new_emp_card_path(@emp) %>


<h2>Cards</h2>
<!--%= render @emp.cards %-->
<%= render partial: "/cards/card", collection: @emp.cards, as: :c || "There are no cards available."  %>


